<h1 class="heading">List of Aurthors</h1>
<ul><% @aurthors.each do |aurthor| %>
  <li>
    <%= link_to aurthor.name, aurthor_path(aurthor) %>
  <% end%></li>
</ul>

<%= link_to "Create Aurthor", new_aurthor_url%>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>



